@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: acumin-pro, sans-serif;
}

body {
    overflow-x: hidden;
}

/* HOME */

.introducao {
    width: 100vw;
    height: 100vh;
    background-image: url(../images/bg.png);
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center;
    overflow: hidden;
}

.introducao-header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-top: 15px;
}

.introducao-header-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.introducao-header-nav-itens {
    font-size: 1.1em;
    font-weight: 700;
    margin-right: 30px;

    text-decoration: none;
    color: #ffffff;

    transition-duration: 0.5s;
}

.introducao-header-nav-itens:hover {
    background-color: #BF9663;
    border-radius: 5px;
    padding: 10px;

    transform-origin: 0% 0%;
}

.introducao-header-logo {
    width: 80px;
}

.introducao-header-nav-itens-cart {
    margin-right: 25px;
}

/* INPUT ABAIXO */
#idpesquisa {
    margin-top: 40px;
    width: 100vw;
    height: 60px;

    padding: 15px;
    font-weight: 700;
    outline: none;

    display: none;
}
/* HOME */
.home {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.texto {
    display: flex;
    flex-direction: column;
}

.conteudo-introducao-texto-titulo {
    display: flex;
    justify-content: space-around;
    font-family: 'Times New Roman', Times, serif;
    font-size: 4em;
    line-height: 1.4em;
    color: #BF9663;
}

.conteudo-introducao-texto-paragrafo {
    line-height: 1.6em;
}

.btn-shop-now {
    width: 210px;
    height: 60px;

    border-radius: 5px;
    border: none;
    outline: none;

    font-size: 1.2em;
    font-weight: 700;
    color: #fff;

    margin-top: 50px;
    background-color: #BC9667;

    cursor: pointer;
    transition-duration: 0.3s;
}

.btn-shop-now:hover {
    width: 200px;
    height: 50px;
    background-color: #836847;
    transform-origin: 0% 0%;
}

.conteudo-introducao-img {
    width: 40%;
}

/* HISTORIA & QUALIDADES */

.historia-qualidades {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.qualidades {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.qualidade1,
.qualidade2,
.qualidade3 {
    padding-right: 50px;
}

.qualidades-itens {
    width: 60px;
    padding: 13px;
    border-radius: 5px;
    background-color: #e4dfd3c2;
}

.titulo-qualidades {
    padding-top: 20px;
    padding-bottom: 15px;

    font-size: 1.3em;
}

.descricao-qualidades {
    line-height: 1.5em;
    font-size: 0.9em;
}

.historia {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 80px;
}

.descricao-historia {
    padding-left: 20px;
}

.titulo-about {
    font-family: 'Times New Roman', Times, serif;
    color: rgb(36, 36, 36);
}

.about-image {
    height: 305px;

    border-radius: 5px;
}

.about-p1,
.about-p2,
.about-p3 {
    padding-top: 20px;
    color: rgb(48, 48, 48);
    font-size: 0.9em;
}

.btn-mais {
    width: 200px;
    height: 40px;

    font-size: 1em;
    font-weight: 700;
    color: #fff;
    background-color: #BC9667;
    border: none;
    border-radius: 5px;
    outline: none;
    margin-top: 30px;
    cursor: pointer;

    transition-duration: 0.3s;
}

.btn-mais:hover {
    width: 190px;
    height: 30px;
    background-color: #836847;
    transform-origin: 0% 0%;
}

/* PRODUTOS */

.produtos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 50px;
}

.item-amei {
    float: left;
    position: relative;
    left: 30px;
    top: 5px;
    
    background-color: #fff;
    padding: 5px;
    border-radius: 5px;
}

.item-compartilhar {
    float: right;
    position: relative;
    right: 30px;
    top: 5px;

    background-color: #fff;
    padding: 5px;
    border-radius: 5px;
}

.produtos-titulo {
    font-family: 'Times New Roman', Times, serif;
    color:  rgb(36, 36, 36);
    font-size: 1.7em;

    margin-bottom: 50px;
}

.produtos-itens {
    display: grid;
    
    grid-template-columns: auto auto auto;
    row-gap: 30px;
    column-gap: 20px;
}

.produto-image {
    background-color: rgb(236, 236, 236);
    padding: 50px;
    width: 250px;
    height: 250px;
    border-radius: 5px;
}

.produtos-item1,
.produtos-item2,
.produtos-item3,
.produtos-item4,
.produtos-item5,
.produtos-item6 {
    border: 1px solid rgb(236, 236, 236);
    border-radius: 5px;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.062);

    padding: 10px 10px 30px 10px;
}

.produtos-item-titulo {
    font-size: 0.8em;
    font-weight: 600;
    padding-top: 15px;
    padding-bottom: 25px;

    position: relative;
    left: 25px;
}

.produtos-item-preco {
    font-size: 0.9em;
    background-color: #BF9663;
    color: #fff;
    padding: 5px 15px;
    border-radius: 3px;
    float: left;
    position: relative;
    left: 25px;
}

.add-to-cart {
    float: right;
    border: 1px solid #BF9663;
    font-size: 0.8em;
    font-weight: 700;
    border-radius: 3px;
    background-color: #fff;
    padding: 5px;
    cursor: pointer;
    position: relative;
    right: 23px;

    transition-duration: 0.5s;
}

.add-to-cart:hover {
    background-color: #BF9663;
    color: #fff;
    font-weight: 700;

    transform-origin: 0% 0%;
}

.btn-see-all {
    background-color: #BF9663;
    border: none;
    color: #fff;
    font-weight: 700;
    font-size: 1em;
    margin-top: 60px;
    margin-bottom: 50px;
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;

    transition-duration: 0.3s;
}

.btn-see-all:hover {
    background-color: #836847;
    transform-origin: 0% 0%;
}