@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: acumin-pro, sans-serif;
}

body {
    overflow-x: hidden;
}

/* HOME */

.introducao {
    width: 100vw;
    height: 100vh;
    background-image: url(../images/bg.png);
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center;
    overflow: hidden;
}

.introducao-header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-top: 15px;
}

.introducao-header-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.introducao-header-nav-itens {
    font-size: 1.1em;
    font-weight: 700;
    margin-right: 30px;

    text-decoration: none;
    color: #ffffff;
}

.introducao-header-logo {
    width: 80px;
}

.introducao-header-nav-itens-cart {
    margin-right: 25px;
}

#idpesquisa {
    margin-top: 40px;
    width: 100vw;
    height: 60px;

    padding: 15px;
    font-weight: 700;

    display: none;
}
/* HOME */
.home {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.texto {
    display: flex;
    flex-direction: column;
}

.conteudo-introducao-texto-titulo {
    display: flex;
    justify-content: space-around;
    font-family: 'Times New Roman', Times, serif;
    font-size: 4em;
    line-height: 1.4em;
    color: #BF9663;
}

.conteudo-introducao-texto-paragrafo {
    line-height: 1.6em;
}

.btn-shop-now {
    width: 210px;
    height: 60px;

    border-radius: 5px;
    border: none;
    outline: none;

    font-size: 1.2em;
    font-weight: 700;
    color: #fff;

    margin-top: 50px;
    background-color: #BC9667;
}

.conteudo-introducao-img {
    width: 40%;
}

/* HISTORIA & QUALIDADES */

.historia-qualidades {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;  
}

.qualidades {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.qualidade1,
.qualidade2,
.qualidade3 {
    padding-right: 50px;
}

.qualidades-itens {
    width: 60px;
    padding: 13px;
    border-radius: 5px;
    background-color: #e4dfd3c2;
}

.titulo-qualidades {
    padding-top: 20px;
    padding-bottom: 15px;

    font-size: 1.3em;
}

.descricao-qualidades {
    line-height: 1.5em;
    font-size: 0.9em;
}

.historia {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 80px;
}

.descricao-historia {
    padding-left: 20px;
}

.titulo-about {
    font-family: 'Times New Roman', Times, serif;
    color: rgb(36, 36, 36);
}

.about-image {
    height: 305px;

    border-radius: 5px;
}

.about-p1,
.about-p2,
.about-p3 {
    padding-top: 20px;
    color: rgb(48, 48, 48);
    font-size: 0.9em;
}

.btn-mais {
    width: 200px;
    height: 40px;

    font-size: 1em;
    font-weight: 700;
    color: #fff;
    background-color: #BC9667;
    border: none;
    border-radius: 5px;
    outline: none;
    margin-top: 30px;
}